:root {
    --color-state-negative: #cb0000;
    --color-state-positive: #00a513;
    --color-state-alert: #daaa2c;
    --color-state-neutral: #006494;
    --bg-color-primary: #070707;
    --bg-color-secondary: #0f0f0f;
    --bg-color-card: #131718;
    --color-text: #f1f1f1;
    --color-text--disabled: #717171;
    --color-text-table-head: #070707;
    --color-text-table-row: #0f0f0f;
    --bg-color-btn: #006494;
    --bg-color-btn-selectable: transparent;
    --bg-color-btn-selectable--active: #272727;
    --color-horizontal-line: #3f3f3f;
    --bg-color-table-head: #daaa2c;
    --bg-color-table-row-even: #c9c9c9;
    --bg-color-table-row-odd: #f1f1f1;
    --border-radius: 8px;
    --border-color-table: #070707;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-color-primary);
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

hr {
    border: 1px solid var(--color-horizontal-line);
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    text-align: center;
}

thead {
    background-color: var(--bg-color-table-head);
    color: var(--color-text-table-head);
    border: 0;
}

th, td {
    padding: 15px 0;
}

thead th:first-child {
    border-top-left-radius: var(--border-radius);
}

thead th:last-child {
    border-top-right-radius: var(--border-radius);
}

tbody, tfoot tr {
    color: var(--color-text-table-row);
}

tfoot tr:last-child td:first-child,
tbody tr:last-child td:first-child {
    border-bottom-left-radius: var(--border-radius);
}

tfoot tr:last-child td:last-child,
tbody tr:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius);
}

tbody, tfoot tr:nth-child(odd) {
    background-color: var(--bg-color-table-row-odd);
}

tbody tr:nth-child(even) {
    background-color: var(--bg-color-table-row-even);
}

.control-panel {
    display: grid;
    grid-template-columns: 18% 1fr;
}

.user-state {
    padding: 5px 10px;
    border-radius: var(--border-radius);
}

.menu {
    position: sticky;
    top: 0;
    min-height: 100vh;
    background-color: var(--bg-color-secondary);
}

.menu_header {
    padding: 20px 10px 0;
}

.menu_body,
.menu_footer {
    padding: 0 10px;
}

.menu_logo {
    margin-bottom: 25px;
}

.menu_session {
    text-align: center;
}

.menu_footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.main {
    margin: 10px 50px;
}

.icon {
    margin-left: 10px;
}

.icon-user {
    font-size: 2em;
    outline: 2px solid var(--color-text);
    outline-offset: 8px;
    border-radius: 50%;
    color: var(--color-text);
}

.bg-login {
    background-size: cover;
}

img.logo {
    width: 100%;
}

.form-wrapper {
    display: grid;
    height: 90vh;
    place-items: center;
}

.form {
    --margin-horizontal: auto;
    margin-left: var(--margin-horizontal);
    margin-right: var(--margin-horizontal);
    padding: 10px 20px;
    background-color: var(--bg-color-secondary);
    border-radius: var(--border-radius);
}

.form-login {
    width: 20%;
}

.form-body {
    padding: 0;
    border: none;
}

.form-title {
    margin: 0 auto 20px;
    text-align: center;
}

.form-footer {
    text-align: center;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 25px;
}

.colspan-2 {
    grid-column: span 2;
}

.popup {
    position: fixed;
    top: 20vh;
    left: 35vw;
    display: none;
    width: 30vw;
    padding: 10px 20px;
    background-color: var(--bg-color-secondary);
    border-radius: var(--border-radius);
}

.popup .form-body {
    display: grid;
    grid-template-columns: .9fr .9fr;
}

.popup .form-group {
    padding: 0 10px;
}

.popup--open {
    display: block;
}

.popup_btn-close {
    position: absolute;
    top: 15px;
    right: 20px;
}

.popup .form-footer > .btn {
    margin-right: 20px;
    margin-left: 20px;
}

.textarea {
    width: 100%;
    resize: none;
    padding: 8px 12px;
    height: 80px;
    background-color: transparent;
    color: var(--color-text);
}

.informative-msg {
    --padding-vertical: 15px;
    display: none;
    margin-top: 20px;
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
    border-radius: var(--border-radius);
    text-align: center;
}

.informative-msg--active {
    display: block;
}

.label {
    display: inline-block;
    margin-bottom: 10px;
}

.input-text {
    width: 100%;
    border-width: 0 0 1px 0;
    background-color: transparent;
    color: var(--color-text);
}

.input-text:focus-visible {
    outline: 0;
}

.select {
    display: block;
    width: 100%;
    background-color: var(--bg-color-btn-selectable);
    color: var(--color-text);
}

.option {
    background: var(--bg-color-btn-selectable--active);
}

.table-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}

.table-actions_left {
    text-align: left;
}

.table-actions_right {
    text-align: right;
}

.input-search {
    width: 70%;
    border-radius: var(--border-radius);
    padding: 5px 10px;
    border: 1px solid var(--color-horizontal-line);
    background-color: transparent;
    color: var(--color-text);
}

.btn {
    border: 0;
    border-radius: var(--border-radius);
    padding: 5px 10px;
    background-color: var(--bg-color-btn);
    color: var(--color-text);
    cursor: pointer;
}

.btn-selectable {
    display: block;
    width: 100%;
    padding: 20px 15px;
    background-color: var(--bg-color-btn-selectable);
}

.btn-selectable:hover {
    background-color: var(--bg-color-btn-selectable--active);
}

.state-success {
    background-color: var(--color-state-positive);
}

.state-wrong {
    background-color: var(--color-state-negative);
}

.state-alert {
    background-color: var(--color-state-alert);
    color: var(--bg-color-primary);
}

.state-neutral {
    background-color: var(--color-state-neutral);
}

.text-success {
    color: var(--color-state-positive);
}

.text-wrong {
    color: var(--color-state-negative);
}

.text-alert {
    color: var(--color-state-alert);
}

.text-neutral {
    color: var(--color-state-neutral);
}