:root {
    --color-state-negative: #cb0000;
    --color-state-positive: #00a513;
    --color-state-alert: #daaa2c;
    --bg-color-primary: #070707;
    --bg-color-secondary: #0f0f0f;
    --bg-color-card: #131718;
    --color-text: #f1f1f1;
    --color-text--disabled: #717171;
    --bg-color-btn: #006494;
    --bg-color-btn-selectable: transparent;
    --bg-color-btn-selectable--active: #272727;
    --color-horizontal-line: #3f3f3f;
    --border-radius: 8px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-color-primary);
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

hr {
    border: 1px solid var(--color-horizontal-line);
}

.control-panel {
    display: grid;
    grid-template-columns: 16% 1fr;
}

.menu {
    position: sticky;
    top: 0;
    min-height: 100vh;
    background-color: var(--bg-color-secondary);
}

.menu_header {
    padding: 20px 10px 0;
}

.menu_body,
.menu_footer {
    padding: 0 10px;
}

.menu_logo {
    margin-bottom: 25px;
}

.menu_session {
    text-align: center;
}

.menu_footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.main {
    margin: 10px 50px;
}

.icon-user {
    font-size: 2em;
    outline: 2px solid var(--color-text);
    outline-offset: 8px;
    border-radius: 50%;
    color: var(--color-text);
}

.bg-login {
    /* background-image: url('../assets/img/bg-login.jpg'); */
    background-size: cover;
}

img.logo {
    width: 100%;
}

.form-wrapper {
    display: grid;
    height: 90vh;
    place-items: center;
}

.form {
    --margin-horizontal: auto;
    margin-left: var(--margin-horizontal);
    margin-right: var(--margin-horizontal);
    padding: 10px 20px;
    background-color: var(--bg-color-secondary);
    border-radius: var(--border-radius);
}

.form-login {
    width: 20%;
}

.form-body {
    padding: 0;
    border: none;
}

.form-title {
    margin: 0 auto 20px;
    text-align: center;
}

.form-footer {
    text-align: center;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 25px;
}

.informative-msg {
    --padding-vertical: 15px;
    display: none;
    margin-top: 20px;
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
    border-radius: var(--border-radius);
    text-align: center;
}

.informative-msg--active {
    display: block;
}

.label {
    display: inline-block;
    margin-bottom: 10px;
}

.input-text {
    width: 100%;
    border-width: 0 0 1px 0;
    background-color: transparent;
    color: var(--color-text);
}

.input-text:focus-visible {
    outline: 0;
}

.btn {
    border: 0;
    border-radius: var(--border-radius);
    padding: 5px 10px;
    background-color: var(--bg-color-btn);
    color: var(--color-text);
    cursor: pointer;
}

.btn-selectable {
    display: block;
    width: 100%;
    padding: 20px 15px;
    background-color: var(--bg-color-btn-selectable);
}

.btn-selectable:hover {
    background-color: var(--bg-color-btn-selectable--active);
}

.state-success {
    background-color: var(--color-state-positive);
}

.state-wrong {
    background-color: var(--color-state-negative);
}

.state-alert {
    background-color: var(--color-state-alert);
    color: var(--bg-color-primary);
}

.text-success {
    color: var(--color-state-positive);
}

.text-wrong {
    color: var(--color-state-negative);
}

.text-alert {
    color: var(--color-state-alert);
}